body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

.search-wrapper{
    display: flex;
    flex-direction: column;
    gap: auto;
}
input{
    font-size: 1rem;
    width: 20rem;
    font-size: 20px;
}

.user-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}

.card{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 1.2rem;
    width: fit-content;
}

.card > .header{
    font-size: 1.2rem;
    font-weight: bold;
}

.card > .body{
    font-size: 1.1rem;
    color: gray;
}

.hide{
    display: none;
}